.header{
    list-style-type: none;
    overflow: hidden;
    font-size: 16px;
    font-family: arial,sans-serif;
    margin:10px;
}
.headerli a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
.headerli a:hover {
    text-decoration: underline;
}
.container{
    text-align: center;
    margin:60px;
}
.search-area{
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    margin-top: -57px;
    border-radius: 20px;
    cursor: pointer;

}
.search-area:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    }
.search{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;

}
.searc-img{
    display:flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    

}
.img-s{

    color: #9aa0a6;
    height: 28px;
    width: 28px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    z-index: 15;
    opacity: 0.4;
    padding-top: 2px;
    cursor: pointer;
}

.input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
  }
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    width: 530px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border: oldlace;
    cursor: pointer;
    
  }
  .buttons{
      display: flex;
      justify-content: center;
  }
  .googlesearch {
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 30px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    border: none;
  }
  
  .feelinglucky {
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 30px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    border: none;
  }
  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
  }
  .footerli {
    float: left;
    list-style-type: none;
    
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }

  